@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Monoton&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tangerine:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06283d;
}
.container{
    position: relative;
    width: 400px;
    height: 105px;
    background-color: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Poppins', sans-serif;
    transition: .6s ease-out;
}

.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input{
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283d;
    text-transform: capitalize;
}
.search-box button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283d;
    background-color: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: .4s ease;
}

.search-box button:hover{
    color: #fff;
    background-color: #06283d;
}

.search-box i{
    font-size: 28px;
    position: absolute;
    color: #06283d;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature{
    position: relative;
    color: #06283d;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.weather-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.weather-box .description{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: #06283d;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p{
    color: #06283d;
    font-size: 14px;
    font-weight: 500;
}
.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-details, .weather-box{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0,5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}